<form id="form" action="/signup" method="POST">
  <h2>Signup</h2>

  <div class="form-group">
    <label for="username">Username</label><br>
    {{!-- Define a req.body.username --}}
    {{!-- REVIEW front end validation. Leave the back end validation too? --}}
    <input  class="form-control" type="text" name="username" placeholder="Your username" required>
  </div>

  <div class="form-group">
  <label for="password">Password</label><br>
  <input  class="form-control" type="password" name="password" placeholder="Your password" required>
  </div>

  <div class="form-group">
  <label for="confirmPassword">Confirm Password</label><br>
  <input  class="form-control" type="password" name="confirmPassword" placeholder="Your password again 🙃" required>
  </div>

  <button class="btn btn-dark">Create account</button>
</form>

{{#if errorMessage}}
<div class="text-danger font-italic mt-3">{{errorMessage}}</div>
{{/if}}